APP_ENV=test
PERSISTENCE_DRIVER=prisma
PORT=3001
DATABASE_URL="postgresql://nest:nest@localhost:5433/nestjs_modular_test?schema=public"
CORS_ORIGIN=
JWT_ACCESS_TOKEN_SECRET="test-jwt-access-token-secret"
AWS_REGION=us-east-1
DYNAMODB_ENDPOINT="http://localhost:4566"
DYNAMODB_TABLE_NAME="nestjs-modular-test"
AWS_ACCESS_KEY_ID="localstack"
AWS_SECRET_ACCESS_KEY="localstack"
